extends layout

block content
  body
    .container
      .page-header
        h1 #{article.title}
      p.details
        |Author: &nbsp;
        span #{article.author}
        |;&nbsp;&nbsp; Created: &nbsp;
        span #{article.date}
      p.content
        | #{article.content}
      if user.admin
        a.btn.btn-default(href='/articles/' + article.id + '/edit', role='button') Edit
      a.btn.btn-default(href='/articles/' + article.id + '/comment', role='button') Comment
