extends layout

block content
  body
    .container
      .article-header
        a(href='../sticky-footer')
          h1 Sticky footer with fixed navbar
      p.lead.summary
        | Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.
