extends layout

block content
  body
    .container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          if page === '/login'
            | LogIn
          else
            | SignUp
        if message.length > 0
          .alert.alert-danger  #{message}
        form(action=page, method='post')
          .form-group
            label Username
            input.form-control(type='text', name='username')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          if page === '/signup'
            .form-group
              label Real Name
              input.form-control(type='text', name='name')
            .form-group
              label Admin
              input.form-control(type='checkbox', name='admin')
          button.btn.btn-warning.btn-lg(type='submit') Login
        hr
        p
        if page === '/login'
          | Need an account?
          a(href='/signup') &nbsp;SignUp
        else
          | Already have an account?
          a(href='/login') &nbsp;LogIn
        p
          | Or go
          a(href='/') &nbsp;home
          | .
