html
  body
    if user
      button#comment-article.btn.btn-default(data-article-id=article.id) Comment
      form#comment-form.hidden(action='/article/' + article.id + '/comment', method='POST')
        input#name.form-control.hidden(type='text', value=user.username, name='author')
        #comment-message.form-row
          textarea#comment.form-control(name='body', placeholder='Message')
        input.btn.btn-default#comment-submit(type='submit', value='Submit Comment')
      hr
      #comments
        .row
          each comment in article.comments
            .col-sm-2
              .thumbnail
                img.img-responsive.user-photo(src='https://ssl.gstatic.com/accounts/ui/avatar_2x.png')
            .col-sm-10
              .panel.panel-default
                .panel-heading
                  strong #{comment.author} &nbsp;
                .panel-body
                  i Comment: #{comment.body}
