extends layout

block content
  .container
    each article in articles
      .article
        .article-header
          a(href='/article/' + article.id)
            h1 #{article.title}
        p.lead.summary
          | #{article.body.slice(0, 400) + ' <...>'}
