doctype html
html
  head
    title=title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap3-wysihtml5.min.css')
  body
    include ./header.jade

    div.main-content.container
      block content

    include ./footer.jade
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='/javascripts/bootstrap3-wysihtml5.all.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/handlebars.runtime.min.js')
    script(src='/javascripts/bootstrap3-wysihtml5.min.js')
    script(src='/javascripts/jquery.bootpag.min.js')
    script(src='/javascripts/script.js')
